{% include "header.html" %}
{%load static%}


  <section class="hero-wrap js-fullheight  whr-bg">
    <div class="container">
      <div class="row no-gutters slider-text  align-items-center justify-content-center" style="padding-top: 130px;">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-3 bread">BMR & TDEE Calculator</h1>
        </div>
      </div>
      <div class="breadcrumb">
        <a href="{% url "index" %}">Home</a> >
        <a href="">Educate</a> >
        <span>BMR & TDEE
          Calculator</span>
      </div>
    </div>
  </section>



  <section class="ftco-section">

    <div class="container row" style="margin: 0 auto;">

      <div class="col-lg-6">
        <div class="bmr-content active">



          <h5> Basal metabolic rate (BMR)</h5>
          <div class="textimg-container">
            <img src="{% static "images/bmr.jpg" %}">
            <p>BMR is a person's energy usage rate while at rest in a temperate environment when the
              digestive system is
              inactive. In other words, it is the minimum energy needed to maintain a person's vital organs only.</p>
          </div>

          <p>Some of the more commonly used equations for estimating BMR include the Mifflin St-Jeor Equation,
            Harris-Benedict equation, and Katch-McArdle Formula. They are generally pretty similar, but the
            Katch-McArdle Formula, for example, which takes metabolic activity (resulting from differences between lean
            body mass and body fat) into account, can be more accurate for lean persons.
          </p>
          <p>
            Once BMR is calculated, it is typically multiplied by an activity level factor, which is based on factors
            such as exercise and whether a person has a sedentary or very active job.
          </p>
          <p>Other factors that can be considered in the calculation include the thermic effect of food, though this is
            not always factored into the calculation, and has a relatively smaller impact than BMR and activity level.
          </p>
        </div>
        <div class="tdee-content">

          <h5>What is TDEE?</h5>

          <img src="{% static "images/tdee.jpg" %}" class="tdee-img">
          <p>TDEE stands for total daily energy expenditure. It is the total energy that a person uses in
            a day. TDEE
            is
            hard to measure accurately and varies day by day. More often, it is estimated using factors such as a
            person's BMR, activity level, and the thermic effect of food.</p>


          <h5>How is TDEE calculated?</h5>
          <p>TDEE is calculated based on the factors described above. The calculation usually begins with an estimation
            of basal metabolic rate (BMR), which is based on the use of equations that have been developed for this
            specific purpose. This includes physical characteristics such as age, gender, height, and weight.
          </p>

        </div>
      </div>


      <div class="col-lg-6">
        <div class="tabs">
          <ul class="menu">
            <li class="active br-l">
              <p class="tab br-l" data-target="bmr">BMR Calculator</p>
            </li>
            <li class="br-r">
              <p class="tab br-r" data-target="tdee">TDEE Calculator</p>
            </li>

          </ul>
          <div class="visible">
            <div class="col-12" width="600px">
              <form method="POST" id="tdeeForm" novalidate="novalidate" class="contact-form ">
                <div class="row justify-content-center">
                  <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-1">BMR Calculator</h2>
                  </div>
                </div>
                <input type="hidden" name="_token" value="">
                <input type="hidden" name="is_calculate" value="true">
                <input type="hidden" name="last_insert_id" id="lastInsertId">
                <div class="row radio-checks">
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <label for="gender" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                      <span>Gender</span>
                    </label>
                    <div class="form-control mb-lg-20">
                      <label for="male" class="mb-0 d-flex align-items-center">
                        <input id="male" class="mr-3" type="radio" name="gender" value="male" checked="">
                        <img src="{% static "images/male-icon.png" %}" class="img-fluid mr-2" alt="">
                        Male
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <label class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                      <span><br></span>
                    </label>
                    <div class="form-control mb-lg-20">
                      <label for="female" class="mb-0 d-flex align-items-center">
                        <input id="female" class="mr-3" type="radio" name="gender" value="female">
                        <img src="{% static "images/female-icon.png" %}" class="img-fluid mr-2" alt="">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row radio-checks">
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="age" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Age</span>
                      </label>
                      <input type="number" name="age" id="age" placeholder="Years" required="required"
                        autofocus="autofocus" class="form-control" max="100" min="1" value="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="weight" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Weight</span>
                      </label>
                      <input type="number" name="weight" id="weight" placeholder="Kg" required="required"
                        autofocus="autofocus" class="form-control" min="3" max="150" value="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="feet" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Height</span>
                      </label>
                      <input type="number" name="feet" id="feet" placeholder="Feet" required="required"
                        autofocus="autofocus" class="form-control" max="8" min="1" value="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span><br></span>
                      </label>
                      <input type="number" name="inch" id="inch" placeholder="Inch" required="required"
                        autofocus="autofocus" class="form-control mt-0" max="11" min="0" value="">
                    </div>
                  </div>
                </div>
                <div class="row buttons mt-lg-2 mt-3 mb-lg-35">
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <a href="#" class="btn btn-primary d-block px-1 py-2 reset-BMRform">Reset</a>
                  </div>
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <a href="#" class="btn btn-primary d-block px-1 py-2 calculate-BMRform">Calculate</a>
                  </div>
                </div>

                <center>
                  <h3 id="result" class="result  mt-5"></h3>
                </center>
              </form>
            </div>

          </div>
          <div>

            <div class="col-12" width="600px">
              <form method="POST" id="tdeeForm" novalidate="novalidate" class="contact-form ">
                <div class="row justify-content-center">
                  <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-1">TDEE Calculator</h2>
                  </div>

                </div>
                <input type="hidden" name="_token" value=""> <input type="hidden" name="is_calculate" value="true">
                <input type="hidden" name="last_insert_id" id="lastInsertId">

                <div class="row radio-checks">

                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <label for="gender" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                      <span>Gender</span>
                    </label>
                    <div class="form-control mb-lg-20">
                      <label for="male" class="mb-0 d-flex align-items-center">
                        <input id="male" class="mr-3" type="radio" name="gender" value="male" checked=""> <img
                          src="{% static "images/male-icon.png" %}" class="img-fluid mr-2" alt="">
                        Male
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <label class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                      <span><br></span>
                    </label>
                    <div class="form-control mb-lg-20">
                      <label for="female" class="mb-0 d-flex align-items-center">
                        <input id="female" class="mr-3" type="radio" name="gender" value="female">
                        <img src="{% static "images/female-icon.png" %}" class="img-fluid mr-2" alt="">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row radio-checks">
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="age" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Age</span>
                      </label>
                      <input type="number" name="age" id="ageT" placeholder="Years" required="required"
                        autofocus="autofocus" class=" form-control" max="100" min="1" value="">

                    </div>
                  </div>

                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="weight" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Weight</span>
                      </label>
                      <input type="number" name="weight" id="weightT" placeholder="Kg" required="required"
                        autofocus="autofocus" class=" form-control" min="3" max="150" value="">
                    </div>

                  </div>

                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="feet" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Height</span>
                      </label>
                      <input type="number" name="feet" id="feetT" placeholder="Feet" required="required"
                        autofocus="autofocus" class=" form-control" max="8" min="1" value="">
                    </div>
                  </div>

                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span><br></span>
                      </label>
                      <input type="number" name="inch" id="inchT" placeholder="Inch" required="required"
                        autofocus="autofocus" class=" form-control mt-0" max="11" min="0" value="">
                    </div>
                  </div>


                  <div class="col-lg-12 col-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="activity" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                        <span>Activity</span>
                      </label>
                      <select name="activity" id="activityT" class="selectbox form-control valid" aria-invalid="false">


                        <option value="1.2">Sedentary - Little or No Exercise
                        </option>

                        <option value="1.375">Light - Exercise 1-3 Times/Week
                        </option>

                        <option value="1.55">Moderate - Exercise 4-5 Times/Week
                        </option>

                        <option value="1.725">Active - Daile Exercise or Intense Exercise 3-4 Times/Week
                        </option>

                        <option value="1.9">Extra Active - Very Intense Exercise or Physical Job</option>

                      </select>
                    </div>
                  </div>
                </div>

                <div class="row buttons mt-lg-2 mt-3 mb-lg-35">
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <a href="#" class="btn btn-primary d-block px-1 py-2 reset-TDEEform">Reset</a>
                  </div>
                  <div class="col-lg-6 col-6 px-14 mt-2">
                    <a href="#" class="btn btn-primary d-block px-1 py-2 calculate-TDEEform">Calculate</a>
                  </div>
                </div>
                <center>
                  <h3 id="resultTDEE" class="result  mt-5"></h3>
                </center>
              </form>
            </div>
          </div>

        </div>
      </div>













    </div>
  </section>



{% include "footer.html" %}

<script>

    $(function () {
      // Click Event
      $('.tabs li').click(function () {

        // Allow for multiple tabs
        var $this = $(this).closest('.tabs')

        // Remove & add .active class
        $this.find('li').removeClass('active');
        $(this).addClass('active');

        // Display the proper content
        var $tab = $(this).index();

        $('.tbl').css({ 'display': 'none' });
        $this.find('> div')
          .removeClass('visible')
          .eq($tab).addClass('visible')
          .find('.tbl').fadeIn(1000);

      });
    });

    $(document).ready(function () {
      $('.calculate-BMRform').on('click', function (e) {
        e.preventDefault();

        var age = parseInt($('#age').val());
        var weight = parseFloat($('#weight').val());
        var feet = parseInt($('#feet').val());
        var inch = parseInt($('#inch').val());
        var gender = $('input[name="gender"]:checked').val();


        var bmr;
        if (gender === 'male') {
          bmr = 10 * weight + 6.25 * ((feet * 12) + inch) - 5 * age + 5;
        } else {
          bmr = 10 * weight + 6.25 * ((feet * 12) + inch) - 5 * age - 161;
        }

        // Display the result in the h1 tag below the calculate button
        $('#result').text('Your BMR is: ' + bmr.toFixed(2));
      });

      $('.reset-BMRform').on('click', function (e) {
        e.preventDefault();

        // Clear input fields
        $('#age').val('');
        $('#weight').val('');
        $('#feet').val('');
        $('#inch').val('');

        // Clear result
        $('#result').text('');
      });





      $('.calculate-TDEEform').on('click', function (e) {
        e.preventDefault();

        var ageT = parseInt($('#ageT').val());
        var weightT = parseInt($('#weightT').val());
        var feetT = parseInt($('#feetT').val());
        var inchT = parseInt($('#inchT').val());
        var activityT = parseFloat($('#activityT').val());

        var heightT = (feetT * 12) + inchT;

        // Calculate TDEE using the Mifflin-St Jeor Equation
        var bmrfortdee = 10 * weightT + 6.25 * heightT - 5 * ageT;
        var tdee = bmrfortdee * activityT;

        // Display the result
        $('#resultTDEE').text('Your TDEE is: ' + tdee);
      });


      $('.reset-TDEEform').on('click', function (e) {
        e.preventDefault();

        // Clear input fields
        $('#ageT').val('');
        $('#weightT').val('');
        $('#feetT').val('');
        $('#inchT').val('');

        // Clear result
        $('#resultTDEE').text('');
      });

      $('.tab').click(function () {
        var target = $(this).data('target');
        $('.bmr-content, .tdee-content').removeClass('active');
        $('.' + target + '-content').addClass('active');
      });


    });





  </script>