{% include "header.html" %}
{% load static %}

  <section class="hero-wrap js-fullheight bread-bg">
    <div class="container">
      <div class="row no-gutters slider-text  align-items-center justify-content-center" style="padding-top: 130px;">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-3 bread">Campaigns</h1>
        </div>
      </div>
      <div class="breadcrumb">
        <a href="{% url "index" %}">Home</a> >
        <a href="{% url "campaigns" %}">Campaigns</a> >
        <span>Whole Foods Challenge</span>
      </div>
    </div>
  </section>



  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ftco-animate">
          <h2 class="mb-5">"Mindful Eating Challenge"</h2>

          <div class="row">

            <div class="col-6">
              <img src="{%static 'images/campaign-3.jpg' %}"  alt="" class="img-fluid">
            </div>
            <div class="col-6">
              <p>The "Mindful Eating Challenge" is an innovative campaign aimed at transforming the way individuals
                approach food and mealtime. This challenge encourages participants to practice mindfulness during
                eating, which involves paying full attention to the experience of eating and drinking, both inside and
                outside the body. </p>
              <p>By focusing on the sensory experience of eating, participants can develop a healthier relationship with
                food, improve digestion, and enhance their overall well-being. The challenge often lasts for a set
                period, such as 30 days, and includes daily practices and tips to help participants cultivate mindful
                eating habits.</p>
              <p>The Mindful Eating Challenge often includes practical tools and activities to help participants stay
                engaged and make mindful eating a habit. </p>
            </div>
          </div>







        </div>
        <div class="col-lg-12 ftco-animate mt-3">

          <p>Education is a critical component of the Mindful Eating Challenge. Participants receive comprehensive
            resources that explain the principles of mindful eating, including techniques to slow down and savor each
            bite, recognize hunger and fullness cues, and reduce emotional eating. Educational materials might also
            cover the psychological and physiological benefits of mindful eating, such as reduced stress, improved
            digestion, and better nutrient absorption.</p>


        </div>







      </div>

    </div>
    </div>
  </section> <!-- .section -->


{% include "footer.html" %}