{% include "header.html" %}

{% load static %}

  <section class="hero-wrap js-fullheight bread-bg">

    <div class="container">


      <div class="row no-gutters slider-text  align-items-center justify-content-center" style="padding-top: 130px;">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-3 bread">Campaigns</h1>
        </div>
      </div>
      <div class="breadcrumb">
        <a href="{% url "index" %}">Home</a> >
        <span>Campaigns</span>
      </div>
    </div>
  </section>




  <section class="ftco-section bg-light">
    <div class="container">


      <div class="row justify-content-center mt-3 pb-1">
        <div class="col-md-8 heading-section ftco-animate">
          <h3 class="mb-1">L&S Health & Fitness Campaigns</h3>
          <p>Health and fitness is a huge trend today. People these days are very motivated in terms of their health and
            wellness. As a result, almost everyone tries to follow a healthy lifestyle. This brings us to the emergence
            of gyms and fitness centers. When it comes to fitness motivation, gyms or wellness centers are a way to go.
            And with more and more people opting for gyms, the demand for the same has increased. </p>
        </div>
        <div class="col-md-4">

        </div>
      </div>

      <!-- <div class="filter-categories">
        <p>Filter: </p>
        <select id="category-select" class="form-group ">
          <option value="all">All</option>
          <option value="category1">Meal Prepping</option>
          <option value="category2">Healthy Diet and Fitness</option>
          <option value="category1">Optimal Nutrition</option>
          <option value="category2">Balancing Macros</option>
          <option value="category2">Mindful Eating</option>
        </select>

      </div> -->

      <div class="row blogs-container blog-posts">
        <div class="col-lg-3 col-sm-6 blog-entry category1 p-2 ">
          <a href="{% url "campaign-1" %}" class="block-20" style="background-image: url('{% static "images/campaign-1.jpg" %}');">
          </a>
          <div class="text p-4 float-right d-block">
            <h3 class="heading mt-2"><a href="{% url "campaign-1" %}">"Whole Foods Challenge"</a></h3>
            <p><strong>Date: </strong>10 June 2024</p>
            <p>Encouraging the consumption of whole, unprocessed foods to support better nutrition, digestion, and
              overall health.</p>
            <a href="">View More...</a>
          </div>
        </div>
        <div class="col-lg-3  col-sm-6 blog-entry  category2 p-2">
          <a href="{% url "campaign-2" %}" class="block-20" style="background-image: url('{% static "images/campaign-2.jpg" %}');">
          </a>
          <div class="text p-4 float-right d-block ">
            <h3 class="heading mt-2"><a href="{% url "campaign-2" %}">"Hydration Challenge"</a></h3>
            <p><strong>Date: </strong>11 June 2024</p>
            <p>Encouraging participants to stay hydrated throughout the day for improved energy levels, skin health, and
              overall well-being. </p>
            <a href="">View More...</a>
          </div>
        </div>
        <div class=" col-lg-3  col-sm-6 blog-entry category2 p-2 ">
          <a href="{% url "campaign-3" %}" class="block-20" style="background-image: url('{% static "images/campaign-3.jpg" %}');">
          </a>
          <div class="text p-4 float-right d-block">
            <h3 class="heading mt-2"><a href="{% url "campaign-3" %}">"Mindful Eating Challenge"</a></h3>
            <p><strong>Date: </strong>15 June 2024</p>
            <p>Promoting mindfulness and awareness while eating to prevent overeating and improve digestion. </p>
            <a href="">View More...</a>
          </div>
        </div>
        <div class=" col-lg-3  col-sm-6 blog-entry category2 p-2">
          <a href="{% url "campaign-4" %}" class="block-20" style="background-image: url('{% static "images/campaign-4.jpg" %}');">
          </a>
          <div class="text p-4 float-right d-block">
            <h3 class="heading mt-2"><a href="{% url "campaign-4" %}">"Fitness Centre Membership Giveaway"</a></h3>
            <p><strong>Date: </strong>15 June 2024</p>
            <p>Run a Fitness Centre Membership Giveaway to get new leads, shares & followers on social media</p>
            <a href="">View More...</a>
          </div>
        </div>
      </div>











      <div class="row blogs-container">
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


{% include "footer.html" %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const categorySelect = document.getElementById('category-select');
      categorySelect.addEventListener('change', function () {
        const category = this.value;
        filterBlogs(category);
      });

      function filterBlogs(category) {
        const allPosts = document.querySelectorAll('.blog-entry');
        allPosts.forEach(post => {
          if (category === 'all' || post.classList.contains(category)) {
            post.style.display = 'block';  // Show matching posts
          } else {
            post.style.display = 'none';   // Hide non-matching posts
          }
        });
      }
    });
  </script>