{% include "header.html" %}


  <section class="hero-wrap js-fullheight bread-bg">

    <div class="container">
      <div class="row no-gutters slider-text  align-items-center justify-content-center" style="padding-top: 130px;">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-3 bread">Privacy Policy</h1>
        </div>
      </div>
      <div class="breadcrumb">
        <a href="{% url "index" %}">Home</a> >
        <span>Privacy Policy</span>
      </div>
    </div>
  </section>



  <section class="ftco-section contact-section">
    <div class="padding-bottom-top-60 content-wrap">
      <div class="container">
        <div class="side-section row ">
          <div class="col-lg-4 col-md-12 col-sm-12 row_pad">
            <nav class="fixedmenu privacy_section_main" id="vertical_tabs"
              style="border-left:1px solid rgb(241 241 241);">
              <h4 style="color:#545454; text-align: center;" class="pt-5">
                Content
              </h4><br>
              <div class="scrollbox">
                <div class="scrollbox-inner">
                  <ul id="sidebar">
                    <li><a href="#section1"> Information we collect</a></li>
                    <li> <a href="#section2">What are Cookies</a> </li>
                    <li><a href="#section3"> Log Files</a> </li>
                    <li><a href="#section4"> How we use and share this information</a> </li>
                    <li><a href="#section5"> How we secure and retain data</a></li>
                    <li> <a href="#section6">Data Retention Period</a> </li>
                    <li><a href="#section7"> Mergers and Takeovers</a> </li>
                    <li><a href="#section8"> Privacy Policy updates</a> </li>



                  </ul>
                </div>

              </div>


            </nav>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 privacy_section_main">
            <div id="section1" class="content-section ">
              <div class="left-text section_white">
                <h6>
                  Information We Collect </h6>
                <p>
                  Lean & Strong may request or collect personal information from online users in a variety of ways,
                  including
                  through online forms for requesting information or ordering products and services, and other instances
                  where users are invited to volunteer such information.
                  Some of the data we collect is information that identifies you personally, and may include your name,
                  e-mail address, postal address, telephone and telefax numbers, payment account information, and other
                  information necessary
                  to provide the services requested. Lean & Strong also maintains a record of contacts for customer or
                  technical support. </p>
                <p>Lean & Strong may also collect information about how users access the website through log files and
                  the
                  use of cookies, and through third party services such as Mouseflow and Google Analytics</p>
              </div>
            </div>
            <div id="section2" class="content-section">
              <div class="left-text section_grey">
                <h6 style="color:#2e3738;">
                  What are Cookies?
                </h6>
                <p>
                  A cookie is a piece of data stored on the user's computer tied to information about the user. We may
                  use both session ID cookies and persistent cookies. For session ID cookies, once you close your
                  browser or log out, the cookie terminates and is erased.
                  A persistent cookie is a small text file stored on your computer's hard drive for an extended period
                  of time. Your browser's help file contains information and instructions for removing persistent
                  cookies. Session ID cookies
                  may be used by Lean & Strong to track user preferences while the user is visiting the website. They
                  also
                  help to minimize load times and save on server processing. Persistent cookies may be used by Lean &
                  Strong
                  to store whether,
                  for example, you want your password remembered or not, and other information. Cookies used on the
                  Lean & Strong website do not contain personally identifiable information.
                </p>
              </div>
            </div>
            <div id="section3" class="content-section">
              <div class="left-text section_white">
                <h6 style="color:#2e3738;">
                  Log Files </h6>
                <p>
                  Like most standard websites, we use log files. This information may include internet protocol (IP)
                  addresses, browser type, internet service provider (ISP), referring/exit pages, platform type,
                  date/time stamp, and number of clicks to analyze trends,
                  administer the site, track user's movement in the aggregate, and gather broad demographic information
                  for aggregate use. However, none of the information stored in our log files, including but not limited
                  to IP addresses,
                  is linked to personally identifiable information. </p>
              </div>
            </div>
            <div id="section4" class="content-section">
              <div class="left-text section_grey">
                <h6 style="color:#2e3738;">
                  How we Use and Share this information
                </h6>
                <p>
                  Lean & Strong may use and share your personal information in order to provide the services requested.
                  We
                  will only use your data when we have been given permission to do so, when it is needed to deliver the
                  Services that you have purchased, or for legal compliance
                  or other lawful purposes. These usages include: For example, your information may be provided to the
                  domain registrar in order to process domain registrations, or with the relevant certificate authority,
                  and if your domains
                  are not set to private registration, the publicly available WHOIS registry will contain personal
                  information, including but not limited to your title, first name, surname, domain name, e-mail
                  address, country, and phone
                  number.
                </p>

                <p>

                  We may share your personal data with:



                <ol type="i">
                  <li>
                    Affiliated companies within our corporate family and with trusted third party service providers in
                    order for them to perform certain tasks on our behalf. This may include:</li>
                  <ul class="sub_bullets">
                    <li>Processing credit card payments </li>
                    <li>Delivering content and communications to you (such as Email, SMS)</li>
                    <li>Analyzing Service usage and customer demographics</li>
                    <li>Serving advertisements </li>
                    <li>Conducting surveys or contests</li>
                    <li>Managing customer relationships</li>
                  </ul>


                  <li>Governmental bodies, regulators, law enforcement agencies, courts/tribunals and insurers where we
                    are required to do so</li>
                  <li>A business which acquires all or part of the Lean & Strong business, as set out further below</li>
                </ol>
                </p>
              </div>
            </div>
            <div id="section5" class="content-section ">
              <div class="left-text section_white">
                <h6>
                  How we secure and retain data </h6>
                <p>
                  We follow generally accepted standards to collect, store and protect personal data, including the use
                  of encryption. We retain personal data for as long as it is needed to provide the Services you have
                  requested, and thereafter for legal and business
                  purposes. Our security measures include: </p>

                <ul class="sub_bullets" style="margin-left: 38px;">
                  <li>Encryption of data</li>
                  <li>Regular cyber security assessments of all service providers who may handle your personal data</li>
                  <li>Regular scenario planning and crisis management exercises to ensure we are ready to respond to
                    cyber security attacks and data security incidents</li>
                  <li>Yealy penetration testing of systems</li>
                  <li>Internal policies setting out our data security approach and training for employees</li>
                </ul>

              </div>
            </div>
            <div id="section6" class="content-section">
              <div class="left-text section_grey">
                <h6 style="color:#2e3738;">
                  Data Retention Period
                </h6>
                <p>
                  We will not retain your data for longer than necessary for the purposes set out in this Policy.
                  Different retention periods apply for different types of data, however the longest we will normally
                  hold any personal data is 10 years.
                </p>
              </div>
            </div>
            <div id="section7" class="content-section">
              <div class="left-text section_white">
                <h6 style="color:#2e3738;">
                  Mergers and Takeovers </h6>
                <p>
                  In the event that a separate business acquires all or part of our business or its assets, for example
                  in the context of a merger or takeover, we may need to disclose your personal data to that company, so
                  they can continue to provide services to you.
                  In this situation, your data will only be used by the other business for the purposes set out in this
                  Policy.
                </p>
                <p>
                  In certain circumstances, it is possible that your personal data could be transferred to a company
                  with whom we're discussing selling or transferring all or part of the GW business, but only where
                  strictly necessary for the evaluation of the transaction.
                  If this happens, the data will be kept secure and confidential and will be deleted if the business
                  sale does not go ahead.
                </p>
              </div>
            </div>
            <div id="section8" class="content-section">
              <div class="left-text section_grey">
                <h6 style="color:#2e3738;">
                  Privacy Policy updates
                </h6>
                <p>
                  We reserve the right to change or update this Privacy Policy at any time. Such changes shall be
                  effective immediately upon posting to the Site. Please review this document from time to time so that
                  you are aware of what information we collect and how
                  we use it.
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


 <script>
    $(document).ready(function () {
      var contentSection = $('.content-section');
      var navigation = $('#vertical_tabs');

      //when a nav link is clicked, smooth scroll to the section
      navigation.on('click', 'a', function (event) {
        event.preventDefault(); //prevents previous event
        smoothScroll($(this.hash));
      });

      //update navigation on scroll...
      $(window).on('scroll', function () {
        updateNavigation();
      })
      //...and when the page starts
      updateNavigation();

      /////FUNCTIONS
      function updateNavigation() {
        contentSection.each(function () {
          var sectionName = $(this).attr('id');
          var navigationMatch = $('#vertical_tabs a[href="#' + sectionName + '"]');
          if (($(this).offset().top - $(window).height() / 2 < $(window).scrollTop()) &&
            ($(this).offset().top + $(this).height() - $(window).height() / 2 > $(window).scrollTop())) {
            navigationMatch.addClass('active-section');
          } else {
            navigationMatch.removeClass('active-section');
          }
        });
      }

      function smoothScroll(target) {
        $('body,html').animate({
          scrollTop: target.offset().top
        }, 500);
      }
    });
  </script>


{% include "footer.html" %}