{% include "header.html" %}


	<section class="hero-wrap js-fullheight bread-bg " style="background-image: url('images/bread-bg.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text  align-items-center justify-content-center"
				style="padding-top: 130px;">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-3 bread">Profile</h1>
				</div>
			</div>
			<div class="breadcrumb">
				<a href="index.html">Home</a> >
				<span>Profile</span>
			</div>
		</div>
	</section>


	<section>
		<div class="container">
			<div class="row">
				<form class="cr-profile-add mt-5">
					<div class="col-xl-12 col-xxl-12 col-md-12">
						<div class="col-xl-12">
							<div class="profile-img">
								<img src="images/profile-1.jpg">
								<h4>Wiley Waites</h4>
							</div>
						</div>
						<div class="mb-m-30">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="cr-vendor-detail">
										<h6>Personal Information</h6>
										<ul>
											<li>
												<p>Name : </p>
												<div class="form-group">
													<input type="text" class="form-control"
														placeholder="Enter your Name" value="Wiley" disabled>
												</div>
											</li>
											<li>
												<p>Surname : </p>
												<div class="form-group">
													<input type="text" class="form-control"
														placeholder="Enter your Surname" value="Waites" disabled>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="cr-vendor-detail">
										<h6>Contact nubmer</h6>
										<ul>
											<li>
												<p>Phone Nubmer 1 : </p>
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Enter number"
														value="+1 123 456 7890" disabled>
												</div>
											</li>
											<li>
												<p>Phone Nubmer 2 : </p>
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Enter number"
														value="+1 123 456 7890" disabled>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="cr-vendor-detail">
										<h6>Current Address</h6>
										<ul>
											<li>
												<textarea class="form-control" id="profile_address1" rows="2"
													placeholder="Enter address"
													disabled>158, Sycamore Street,Pune,India - 95131.</textarea>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="cr-vendor-detail">
										<h6>Permanent Address</h6>
										<ul>
											<li>
												<textarea class="form-control" id="profile_address2" rows="2"
													placeholder="Enter address"
													disabled>158, Sycamore Street,Pune,India - 95131.</textarea>
											</li>
										</ul>
									</div>
								</div>


							</div>
						</div>
					</div>




				</form>
			</div>
	</section>





{% include "footer.html" %}