{% include "header.html" %}



	<section class="hero-wrap js-fullheight bread-bg " style="background-image: url('images/bread-bg.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text  align-items-center justify-content-center"
				style="padding-top: 130px;">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-3 bread">Settings</h1>
				</div>
			</div>
			<div class="breadcrumb">
				<a href="index.html">Home</a> >
				<span>User Settings</span>
			</div>
		</div>
	</section>


	<section>
		<div class="container">
			<div class="row">

				<div class="col-xl-12 col-xxl-12 col-md-12">
					<form class="cr-profile-add mt-5 user-settings">
						<div class="row">

							<div class="col-12">
								<h3 class="mb-4 p-3" style="text-align: center;">User Settings</h3>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">

											<input class="form-check-input" type="checkbox" value=""
												id="flexCheckDefault">

										</div>
										<div class="col-md-10">
											<p>Account login alerts for unrecognized devices </p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>
												Password change reminders for security
											</p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>Two-factor authentication setup notifications </p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>
												Privacy policy updates
											</p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p> Data breach notifications and security measures taken </p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>Reporting mechanisms for inappropriate content or behavior</p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>
												Guidelines on safe online behavior and interactions
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>Information on how personal data is handled and protected </p>
										</div>
									</div>
								</div>
								<div class="input-box form-group">
									<div class="row">
										<div class="col-md-2" style="text-align: right">
											<form class="main-form full checkstyle">
												<input class="form-check-input" type="checkbox" value=""
													id="flexCheckDefault">
											</form>
										</div>
										<div class="col-md-10">
											<p>
												Notifications about changes in privacy settings or options
											</p>
										</div>
									</div>
								</div>
								<div>
									<a href="#" class="btn btn-primary d-block px-1 py-2 "
										style="width: 150px;margin: 0 auto;">Save Changes</a>
								</div>

							</div>

						</div>

					</form>
				</div>





			</div>
	</section>


{% include "footer.html" %}