{% include "header.html" %}
{% load static %}


  <section class="hero-wrap js-fullheight bread-bg">

    <div class="container">


      <div class="row no-gutters slider-text  align-items-center justify-content-center" style="padding-top: 130px;">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-3 bread">Testimonials</h1>
        </div>
      </div>
      <div class="breadcrumb">
        <a href="{% url "index" %}">Home</a> >
        <span>Testimonials</span>
      </div>
    </div>
  </section>




  <section class="ftco-section bg-light">
    <div class="container">




      <div class="row blogs-container blog-posts">
        <div class="col-4 testimony-wrap p-4 pb-5">
          <div class="before-after">
            <div>
              <h3>Before</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-1before.jpg" %}');">
              </div>
            </div>
            <div class="verticle"></div>
            <div>
              <h3>After</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-1after.jpg" %}');">
              </div>
            </div>
          </div>
          <div class="text">
            <div class="line pl-5">
              <p class="mb-4 pb-1">I never knew how much a dietitian could change my life
                until I met Sarah. Her nutrition plan was a game-changer for my weight loss
                journey. Highly recommend!</p>

            </div>
            <div class="d-flex float-right">
              <div class="ml-4">
                <p class="name">Gabby Smith</p>
                <span class="position"><span><i class="ri-instagram-fill"></i></span>
                  gabby.smith4598</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 testimony-wrap p-4 pb-5">
          <div class="before-after">
            <div>
              <h3>Before</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-2before.jpg" %}');">
              </div>
            </div>
            <div class="verticle"></div>
            <div>
              <h3>After</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-2after.jpg" %}');">
              </div>
            </div>
          </div>
          <div class="text">
            <div class="line pl-5">
              <p class="mb-4 pb-1">After following my dietitian's advice, I saw amazing before
                and after results in just a few weeks. My energy levels are up, and my
                clothes are fitting better!</p>

            </div>

            <div class="d-flex float-right">
              <div class="ml-4">
                <p class="name">Floyd Weather</p>
                <span class="position"><span><i class="ri-instagram-fill"></i></span>
                  Weather.floyd</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 testimony-wrap p-4 pb-5">
          <div class="before-after">
            <div>
              <h3>Before</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-3before.jpg" %}');">
              </div>
            </div>
            <div class="verticle"></div>
            <div>
              <h3>After</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-3after.jpg" %}');">
              </div>
            </div>
          </div>
          <div class="text">
            <div class="line pl-5">
              <p class="mb-4 pb-1">Working with a dietitian was the best decision I made for
                my health. The personalized meal plan helped me achieve my weight loss goals
                faster than I ever imagined.</p>

            </div>

            <div class="d-flex float-right">
              <div class="ml-4">
                <p class="name">James Dee</p>
                <span class="position"><span><i class="ri-instagram-fill"></i></span>
                  James.45Doe</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 testimony-wrap p-4 pb-5">
          <div class="before-after">
            <div>
              <h3>Before</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-4before.jpg" %}');">
              </div>
            </div>
            <div class="verticle"></div>
            <div>
              <h3>After</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-4after.jpg" %}');">
              </div>
            </div>
          </div>
          <div class="text">
            <div class="line pl-5">
              <p class="mb-4 pb-1">I was skeptical about seeing a dietitian, but after seeing
                my before and after photos, I'm a believer! The changes in my body and
                confidence are incredible.</p>

            </div>

            <div class="d-flex float-right">

              <div class="ml-4">
                <p class="name">Lance Roger</p>
                <span class="position"><span><i class="ri-instagram-fill"></i></span>
                  Lance.Roger777</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 testimony-wrap p-4 pb-5">
          <div class="before-after">
            <div>
              <h3>Before</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-5before.jpg" %}');">
              </div>
            </div>
            <div class="verticle"></div>
            <div>
              <h3>After</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-5after.jpg" %}');">
              </div>
            </div>
          </div>
          <div class="text">
            <div class="line pl-5">
              <p class="mb-4 pb-1">Thanks to my dietitian's guidance, I've lost the weight
                that I've been struggling with for years. The transformation is
                unbelievable, and I feel like a whole new person!</p>

            </div>

            <div class="d-flex float-right">
              <div class="ml-4">
                <p class="name">Kenny Bufer</p>
                <span class="position"><span><i class="ri-instagram-fill"></i></span>
                  Kenny.Bufer136</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 testimony-wrap p-4 pb-5">
          <div class="before-after">
            <div>
              <h3>Before</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-1before.jpg" %}');">
              </div>
            </div>
            <div class="verticle"></div>
            <div>
              <h3>After</h3>
              <div class="user-img" style="background-image: url('{% static "images/review-1after.jpg" %}');">
              </div>
            </div>
          </div>
          <div class="text">
            <div class="line pl-5">
              <p class="mb-4 pb-1">I never knew how much a dietitian could change my life
                until I met Sarah. Her nutrition plan was a game-changer for my weight loss
                journey. Highly recommend!</p>

            </div>
            <div class="d-flex float-right">
              <div class="ml-4">
                <p class="name">Gabby Smith</p>
                <span class="position"><span><i class="ri-instagram-fill"></i></span>
                  gabby.smith4598</span>
              </div>
            </div>
          </div>
        </div>
      </div>











      <div class="row blogs-container">






      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

 <script>
    document.addEventListener('DOMContentLoaded', function () {
      const categorySelect = document.getElementById('category-select');
      categorySelect.addEventListener('change', function () {
        const category = this.value;
        filterBlogs(category);
      });

      function filterBlogs(category) {
        const allPosts = document.querySelectorAll('.blog-entry');
        allPosts.forEach(post => {
          if (category === 'all' || post.classList.contains(category)) {
            post.style.display = 'block';  // Show matching posts
          } else {
            post.style.display = 'none';   // Hide non-matching posts
          }
        });
      }
    });
  </script>


{% include "footer.html" %}