{% load static %}

{% include "user-dashboard-header.html" %}
{% include "sidebar-menu.html" %}


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Body Update Measurements</h1>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-12 col-sm-12">

        <div class="card">
          <div class="card-body tabs-header">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="card-title sp-card-title mb-0"></h5>
              </div>


              <div class="d-flex ">
                <div id="reportrange" class="date-range-style">
                  <i class="ri-calendar-2-line"></i>&nbsp;
                  <span></span> <i class="fa fa-caret-down"></i>
                </div>
              </div>

            </div>
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" id="first-tab" data-bs-toggle="tab"
                  data-bs-target="#view-measurements">All
                  Records</button>
              </li>

              <li class="nav-item hidden-tab" id="update-link">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#update-measurements">Add
                  New Measurements
                </button>
              </li>
              <li class="nav-item hidden-tab" id="edit-link">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#edit-measurements">Edit Measurements
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="view-measurements">
                <button class="btn btn-theme tabs-sp-btn" id="add-measurements-btn">Add New Measurements</button>
                <div class="row">
                  <div class="col-lg-12">



                    <table class="display pt-3 data-table">
                      <thead>
                        <tr>
                          <th>
                            <b>Waist measurement</b>
                          </th>
                          <th class="hide-mob">Neck Circumference</th>
                          <th class="hide-mob">Hip measurement</th>
                          <th class="hide-mob">Arms measurement</th>
                          <th class="hide-mob">Thighs measurement </th>
                          <th>Date </th>
                          <th>Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>40 cm</td>
                          <td class="hide-mob">32 cm</td>
                          <td class="hide-mob">35 cm</td>
                          <td class="hide-mob">55 cm</td>
                          <td class="hide-mob">27 cm</td>
                          <td>15 may 2024</td>
                          <td><a id="edit-measurement-btn"><i data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Edit" class="ri-pencil-fill"></i>
                            </a>
                            <a data-bs-toggle="modal" data-bs-target="#viewModal"><i data-bs-toggle="tooltip"
                                data-bs-placement="top" title="View" class="ri-eye-fill"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="modal fade" id="viewModal" tabindex="-1">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Measurement Updates</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body ">
                            <form method="POST" novalidate="novalidate" class="contact-form mb-5 row">
                              <div class="col-lg-6 col-sm-12 px-14 mt-2">
                                <div class="form-group mb-lg-20">
                                  <label for="Waist measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                    <span>Waist measurement :</span>
                                  </label>
                                  <input type="text" name="Waist measurement" placeholder="" required="required"
                                    autofocus="autofocus" class=" form-control" value="40 cm" disabled>
                                </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 px-14 mt-2">
                                <div class="form-group mb-lg-20">
                                  <label for="Neck Circumference" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                    <span>Neck Circumference :</span>
                                  </label>
                                  <input type="text" name="Neck Circumference" placeholder="" required="required"
                                    autofocus="autofocus" class=" form-control" value="32 cm" disabled>
                                </div>
                              </div>

                              <div class="col-lg-6 col-sm-12 px-14 mt-2">
                                <div class="form-group mb-lg-20">
                                  <label for="Hip measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                    <span>Hip measurement :</span>
                                  </label>
                                  <input type="text" name="Hip measurement" placeholder="" required="required"
                                    autofocus="autofocus" class=" form-control" value="35 cm" disabled>
                                </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 px-14 mt-2">
                                <div class="form-group mb-lg-20">
                                  <label for="Arms measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                    <span>Arms measurement :</span>
                                  </label>
                                  <input type="text" name="Arms measurement" placeholder="" required="required"
                                    autofocus="autofocus" class=" form-control" value="55 cm" disabled>
                                </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 px-14 mt-2">
                                <div class="form-group mb-lg-20">
                                  <label for="Thighs measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                    <span>Thighs measurement :</span>
                                  </label>
                                  <input type="text" name="Thighs measurement" placeholder="" required="required"
                                    autofocus="autofocus" class=" form-control" value="27 cm" disabled>
                                </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 px-14 mt-2">
                                <div class="form-group mb-lg-20">
                                  <label for="Date" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                    <span>Date :</span>
                                  </label>
                                  <input type="text" name="Date" placeholder="" required="required"
                                    autofocus="autofocus" class=" form-control" value="15 may 2024" disabled>
                                </div>
                              </div>
                            </form>
                            <!-- <div class="row buttons mt-5">
                                <center>

                                  <button type="submit" class="btn btn-theme">Submit</button>
                                </center>
                              </div> -->
                          </div>
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3 container" id="edit-measurements">
                <form method="POST" novalidate="novalidate" class="contact-form mb-5 row">
                  <div class="col-lg-6 col-sm-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="Waist measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                        <span>Waist measurement :</span>
                      </label>
                      <input type="text" name="Waist measurement" placeholder="" required="required"
                        autofocus="autofocus" class=" form-control" value="40 cm">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="Neck Circumference" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                        <span>Neck Circumference :</span>
                      </label>
                      <input type="text" name="Neck Circumference" placeholder="" required="required"
                        autofocus="autofocus" class=" form-control" value="32 cm">
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="Hip measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                        <span>Hip measurement :</span>
                      </label>
                      <input type="text" name="Hip measurement" placeholder="" required="required" autofocus="autofocus"
                        class=" form-control" value="35 cm">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="Arms measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                        <span>Arms measurement :</span>
                      </label>
                      <input type="text" name="Arms measurement" placeholder="" required="required"
                        autofocus="autofocus" class=" form-control" value="55 cm">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="Thighs measurement" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                        <span>Thighs measurement :</span>
                      </label>
                      <input type="text" name="Thighs measurement" placeholder="" required="required"
                        autofocus="autofocus" class=" form-control" value="27 cm">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 px-14 mt-2">
                    <div class="form-group mb-lg-20">
                      <label for="Date" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                        <span>Date :</span>
                      </label>
                      <input type="text" name="Date" placeholder="" required="required" autofocus="autofocus"
                        class=" form-control" value="15 may 2024">
                    </div>
                  </div>
                </form>
                <div class="row buttons mt-5">
                  <center>

                    <button type="submit" class="btn btn-theme">Submit</button>
                  </center>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3 container" id="update-measurements">
                <form method="POST" id="whrForm" novalidate="novalidate" class="contact-form mb-5">
                  <input type="hidden" name="_token" value=""> <input type="hidden" name="is_calculate" value="true">
                  <input type="hidden" name="last_insert_id" id="lastInsertId">


                  <div class="row radio-checks">

                    <div class="col-lg-6 col-sm-12 px-14 mt-2">
                      <div class="form-group mb-lg-20">
                        <label for="weight" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                          <span>Waist measurement:(cm)</span>
                        </label>
                        <input type="number" name="weight" id="weight" placeholder="cm" required="required"
                          autofocus="autofocus" class=" form-control" min="0" value="">
                      </div>

                    </div>
                    <div class="col-lg-6 col-sm-12 px-14 mt-2">
                      <div class="form-group mb-lg-20">
                        <label for="weight" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                          <span>Neck Circumference:(cm)</span>
                        </label>
                        <input type="number" name="cm" id="cm" placeholder="cm" required="required"
                          autofocus="autofocus" class=" form-control" min="0" value="">
                      </div>

                    </div>

                    <div class="row radio-checks">



                      <div class="col-lg-12 col-12 px-14 mt-2">
                        <div class="form-group mb-lg-20">
                          <label for="feet" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                            <span>Hip measurement:</span>
                          </label>
                          <input type="number" name="feet" id="feet" placeholder="cm" required="required"
                            autofocus="autofocus" class=" form-control" max="8" min="1" value="">
                        </div>
                      </div>
                      <p style="font-size: 14px; font-weight: 300; padding:0 20px;"> Measure your waist at the
                        narrowest
                        point and
                        your hips at
                        the widest point.</p>
                    </div>



                    <div class="col-lg-6 col-sm-12 px-14 mt-2">
                      <div class="form-group mb-lg-20">
                        <label for="feet" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                          <span>Arms measurement:</span>
                        </label>
                        <input type="number" name="feet" id="feet" placeholder="cm" required="required"
                          autofocus="autofocus" class=" form-control" max="8" min="1" value="">
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 px-14 mt-2">
                      <div class="form-group mb-lg-20">
                        <label for="feet" class="gray-600 f-lg-18 f-16 font-weight-normal mb-2">
                          <span>Thighs measurement:</span>
                        </label>
                        <input type="number" name="feet" id="feet" placeholder="cm" required="required"
                          autofocus="autofocus" class=" form-control" max="8" min="1" value="">
                      </div>
                    </div>
                  </div>


                  <div class="row buttons mt-5">
                    <center><button type="submit" class="btn btn-theme">Submit</button></center>

                  </div>


                </form>
              </div>



            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% include "user-footer.html" %}
<script>
  $(document).ready(function () {
    $("#add-measurements-btn").click(function () {
      $("#update-link").toggle();
      $("#update-link .nav-link").trigger("click");
    });
    $("#edit-measurement-btn").click(function () {
      $("#edit-link").toggle();
      $("#edit-link .nav-link").trigger("click");
    });

    $("#first-tab").click(function () {
      $("#update-link").hide();
      $("#edit-link").hide();
    });

  });
</script>