{% load static %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    {% if havingActiveSubscriptionPlan == "Yes" %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url "dashboard" %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
    {% endif%}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Subscription Plans</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">

        <li>
          <a href="{% url "purchaseService" %}">
            <i class="bi bi-circle"></i><span>Purchase Plan</span>
          </a>
        </li>

        {% if userSubscriptionHistory %}
        <li>
          <a href="{% url "upgradeService" %}">
            <i class="bi bi-circle"></i><span>Upgrade Plan </span>
          </a>
        </li>
        
        <li>
          <a href="{% url "subscriptionHistory" %}">
            <i class="bi bi-circle"></i><span>Subscription History</span>
          </a>
        </li>

        <li>
          <a href="{% url "renewService" %}">
            <i class="bi bi-circle"></i><span>Renew Plan</span>
          </a>
        </li>
        {%endif%}
        
      </ul>
    </li>

    {% if havingActiveSubscriptionPlan == "Yes" %}
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#sessions" data-bs-toggle="collapse" href="#">
            <i class="bi bi-calendar-event"></i><span id="appointment">Sessions</span><i
              class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="sessions" class="nav-content collapse" data-bs-parent="#sidebar-nav">

            <li>
              <a href="{% url "todaySession" %}">
                <i class="bi bi-circle"></i><span>Today's sessions</span>
              </a>
            </li>
            <li>
              <a href="{% url "upcomingSession" %}">
                <i class="bi bi-circle"></i><span>Upcoming sessions</span>
              </a>
            </li>
            <li>
              <a href="{% url "completedSession" %}">
                <i class="bi bi-circle"></i><span>Completed sessions</span>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#appointments" data-bs-toggle="collapse" href="#">
          <i class="ri-calendar-schedule-fill"></i><span>Appointments</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="appointments" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url "appointmentCallwithNutritionist" %}">
                <i class="bi bi-circle"></i><span>Audio Call with Nutritionist</span>
              </a>
            </li>
            <li>
              <a href="{% url "appointmentCallWithFitnessCoach" %}">
                <i class="bi bi-circle"></i><span>Audio Call with Fitness Coach</span>
              </a>
            </li>

          </ul>
        </li>





        <li class="nav-item">
          <a class="nav-link" href="{% url "dietPlan" %}">
            <i class="bi bi-clipboard-pulse"></i>
            <span>Diet Plan</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "workoutPlan" %}">
            <i class="bi bi-person-arms-up"></i>
            <span>Workout Plan</span>
          </a>
        </li>
    {%endif%}




    <li class="nav-item">
      <a class="nav-link" href="{% url "showCampaigns" %}">
        <i class="bi bi-bookmark-star-fill"></i>
        <span>Campaigns</span>
      </a>
    </li>

    {% if havingActiveSubscriptionPlan == "Yes" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "userRecipes" %}">
          <i class="bi bi-plus-circle-fill"></i>
          <span>My Recipes</span>
        </a>
      </li>
    
    
    <li class="nav-item">
      <a class="nav-link " href="{% url "userNotifications" %}">
        <i class="bi bi-question-circle"></i>
        <span>Notifications</span>
      </a>
    </li>
    {%endif%}

    <li class="nav-item">
      <a class="nav-link " href="{% url "offers" %}">
        <i class="ri-discount-percent-line"></i>
        <span>Offers</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="{% url "userProfile" %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>



    {% if havingActiveSubscriptionPlan == "Yes" %}
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tracker" data-bs-toggle="collapse" href="#">
              <i class="bi bi-gem"></i><span>Tracker</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tracker" class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url "userLifeTracker" %}">
                  <i class="bi bi-circle"></i><span>Lifestyle Tracker</span>
                </a>
              </li>
              <li>
                <a href="{% url "userHealthTracker" %}">
                  <i class="bi bi-circle"></i><span>Health Tracker</span>
                </a>
              </li>
              <li>
                <a href="{% url "userBodyMeasurementUpdate" %}">
                  <i class="bi bi-circle"></i><span>Body Measurements Update </span>
                </a>
              </li>
              <li>
                <a href="{% url "userBodyMeasurementUpdate" %}">
                  <i class="bi bi-circle"></i><span>Body Composition Analysis </span>
                </a>
              </li>

            </ul>
          </li>
    {%endif%}
    <!--
      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-gear-fill"></i>
          <span>Settings</span>
        </a>
      </li><!-- End Blank Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

<div class="nav-bar">
  <a href="{% url "dashboard" %}" class="nav-item active">
    <i class="ri-home-4-line"></i>
    <p>Home</p>
  </a>
  {% if havingActiveSubscriptionPlan == "Yes" %}
    <a href="{% url "todaySession" %}" class="nav-item">
      <i class="bi bi-gem"></i>
      <p>Sessions</p>
    </a>
    <a href="{% url "userLifeTracker" %}" class="nav-item">
      <i class="bi bi-gem"></i>
      <p>Tracker</p>
    </a>
  {%endif%}
  <a href="{% url "userProfile" %}" class="nav-item">
    <i class="ri-user-line"></i>
    <p>Profile</p>
  </a>
</div>