{% load static %}

{% include "fc_header.html" %}
{% include "fc_sidebarmenu.html" %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>All Clients</h1>

  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-12 col-sm-12">

        <div class="card">
          <div class="card-body tabs-header">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="card-title sp-card-title mb-0"></h5>
              </div>


              <div class="d-flex ">
                <div id="reportrange" class="date-range-style">
                  <i class="ri-calendar-2-line"></i>&nbsp;
                  <span></span> <i class="fa fa-caret-down"></i>
                </div>
              </div>

            </div>
            <!-- Bordered Tabs -->

            <div class="tab-content pt-2">

              <div class="row">
                <div class="col-lg-12">



                  <table class="display pt-3" id="fc-active-clients">
                    <thead>
                      <tr>
                        <th>
                          <b>User Name</b>
                        </th>
                        <th class="hide-mob">Name</th>
                        <th>Mobile</th>
                        <th class="hide-mob">Email</th>
                        <th>Subscription</th>
                        <th>Action </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="sp-link">
                          <a href="user-overview.html">
                            John123
                          </a>
                        </td>
                        <td class="hide-mob">John Doe</td>
                        <td>8888888888</td>
                        <td class="hide-mob">johndoe@gmail.com</td>

                        <td>L&S Ultimate</td>
                        <td>
                          <a data-bs-toggle="modal" data-bs-target="#viewModal"><i data-bs-toggle="tooltip"
                              data-bs-placement="top" title="View" class="ri-eye-fill"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="modal fade" id="viewModal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">All Clients</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                          <form method="POST" novalidate="novalidate" class="contact-form mb-5 row">
                            <div class="col-lg-6 col-6 px-14 mt-2">
                              <div class="form-group mb-lg-20">
                                <label for="User Name" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                  <span>User Name :</span>
                                </label>
                                <input type="text" name="User Name" placeholder="" required="required"
                                  autofocus="autofocus" class=" form-control" value="John123" disabled>
                              </div>
                            </div>
                            <div class="col-lg-6 col-6 px-14 mt-2">
                              <div class="form-group mb-lg-20">
                                <label for="Name" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                  <span>Name :</span>
                                </label>
                                <input type="text" name="Name" placeholder="" required="required" autofocus="autofocus"
                                  class=" form-control" value="John Doe" disabled>
                              </div>
                            </div>

                            <div class="col-lg-6 col-6 px-14 mt-2">
                              <div class="form-group mb-lg-20">
                                <label for="Mobile" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                  <span>Mobile :</span>
                                </label>
                                <input type="text" name="Mobile" placeholder="" required="required"
                                  autofocus="autofocus" class=" form-control" value="8888888888" disabled>
                              </div>
                            </div>
                            <div class="col-lg-6 col-6 px-14 mt-2">
                              <div class="form-group mb-lg-20">
                                <label for="Email" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                  <span>Email :</span>
                                </label>
                                <input type="text" name="Email" placeholder="" required="required" autofocus="autofocus"
                                  class=" form-control" value="johndoe@gmail.com" disabled>
                              </div>
                            </div>
                            <div class="col-lg-6 col-6 px-14 mt-2">
                              <div class="form-group mb-lg-20">
                                <label for="Subscription" class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                  <span>Subscription :</span>
                                </label>
                                <input type="text" name="Subscription" placeholder="" required="required"
                                  autofocus="autofocus" class=" form-control" value="L&S Ultimate" disabled>
                              </div>
                            </div>
                          </form>
                          <!-- <div class="row buttons mt-5">
                              <center>

                                <button type="submit" class="btn btn-theme">Submit</button>
                              </center>
                            </div> -->
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>



            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% include "fc_footer.html" %}


<script>


  $(document).ready(function () {
    $('#fc-active-clients').DataTable();
    $(".tabs-sp-btn").click(function () {
      $("#update-link").toggle();
      $("#update-link .nav-link").trigger("click");
    });
    $("#first-tab").click(function () {
      $("#update-link").hide();

    });

    $(".viewmodal-btn").click(function () {
      $("#view-modal").show();
    });
    $(".modal-close-btn").click(function () {
      $("#view-modal").hide();
    });




  });
</script>