{% load static %}

	{% include "fc_header.html" %}
	{% include "fc_sidebarmenu.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Book group session</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12 col-sm-12">

          <div class="card">
            <div class="card-body tabs-header">


              <div class="tab-content pt-2">

                <div class="row">
                  <div class="col-lg-12">
                    <center> <span class="month-year mt-3"></span></center>
                    <div class="calendar-container">

                      <div class="arrow left-arrow"><i class="ri-arrow-left-circle-fill"></i></div>

                      <div class="calendar-wrapper">
                        <div class="calendar">
                          <div class="day" data-date="day1">
                            <div class="day-name">FRI</div>
                            <div class="date">26</div>
                          </div>
                          <div class="day" data-date="day2">
                            <div class="day-name">SAT</div>
                            <div class="date">27</div>
                          </div>
                          <div class="day" data-date="day3">
                            <div class="day-name">SUN</div>
                            <div class="date">28</div>
                          </div>
                          <div class="day" data-date="day4">
                            <div class="day-name">MON</div>
                            <div class="date">29</div>
                          </div>
                          <div class="day" data-date="day5">
                            <div class="day-name">TUE</div>
                            <div class="date">30</div>
                          </div>
                          <div class="day" data-date="day6">
                            <div class="day-name">WED</div>
                            <div class="date">31</div>
                          </div>
                          <div class="day" data-date="day7">
                            <div class="day-name">THU</div>
                            <div class="date">1</div>
                          </div>
                        </div>
                      </div>
                      <div class="arrow right-arrow"><i class="ri-arrow-right-circle-fill"></i></div>
                    </div>
                    <div class="session-list">
                      <div class="session" data-date="day2">
                        <div class="d-flex justify-content-between">
                          <div class="date-ist-container">
                            <div class="date-ist">
                              <div class="time">12:05 AM</div>
                              <div class="ist">IST</div>
                            </div>
                            <div class="duration-hr">
                              <div class="duration"><i class="ri-time-line"></i> <span>30</span> minutes</div>
                            </div>
                          </div>
                          <div class="session-title-container">
                            <div class="session-title">Yoga for Hips & Hamstrings</div>
                            <div class="instructor"><i class="ri-user-3-fill"></i> by <span
                                class="instructor-name">Vivek</span> <span class="instructor-rating">4.7 </span><i
                                class="ri-star-fill instructor-star"></i> </div>
                          </div>
                        </div>
                        <button class="btn btn-theme">Book</button>
                      </div>
                      <div class="session" data-date="day2">
                        <div class="d-flex justify-content-between">
                          <div class="date-ist-container">
                            <div class="date-ist">
                              <div class="time">01:05 PM</div>
                              <div class="ist">IST</div>
                            </div>
                            <div class="duration-hr">
                              <div class="duration"><i class="ri-time-line"></i> <span>60</span> minutes</div>
                            </div>
                          </div>
                          <div class="session-title-container">
                            <div class="session-title">All Levels - Improve Core Strength</div>
                            <div class="instructor"><i class="ri-user-3-fill"></i> by <span
                                class="instructor-name">Vivek</span> <span class="instructor-rating">4.7 </span><i
                                class="ri-star-fill instructor-star"></i> </div>
                          </div>
                        </div>
                        <button class="btn btn-theme">Book</button>
                      </div>
                      <div class="session" data-date="day3">
                        <div class="d-flex justify-content-between">
                          <div class="date-ist-container">
                            <div class="date-ist">
                              <div class="time">01:05 PM</div>
                              <div class="ist">IST</div>
                            </div>
                            <div class="duration-hr">
                              <div class="duration"><i class="ri-time-line"></i> <span>60</span> minutes</div>
                            </div>
                          </div>
                          <div class="session-title-container">
                            <div class="session-title">All Levels - Improve Core Strength</div>
                            <div class="instructor"><i class="ri-user-3-fill"></i> by <span
                                class="instructor-name">Vivek</span> <span class="instructor-rating">4.7 </span><i
                                class="ri-star-fill instructor-star"></i> </div>
                          </div>
                        </div>
                        <button class="btn btn-theme">Book</button>
                      </div>
                      <!-- Add more sessions as needed -->
                    </div>



                  </div>
                </div>



              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

 {% include "fc_footer.html" %}