{% load static %}

	{% include "admin_header.html" %}
	{% include "admin_sidebarmenu.html" %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Enquiries</h1>

        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title sp-card-title"></h5>
                                </div>

                                <div id="reportrange" class="date-range-style">
                                    <i class="ri-calendar-2-line"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>


                            <!-- Table with stripped rows -->
                            <table class="display pt-3" id="admin-enquiries">
                                <thead>
                                    <tr>
                                        <th width="14%">
                                            <b>Name</b>
                                        </th>
                                        <th>Email</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>Status</th>
                                        <th style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John Doe </td>
                                        <td>johndoe@gmail.com</td>
                                        <td>Subscription Enquiry
                                        </td>
                                        <td>Interested in learning more about the L&S Essential Subscription plan for
                                            the dietitian plan? Benefit from personalized meal plans and professional
                                            guidance. Contact our customer support team today for details and sign-up!
                                        </td>
                                        <td>Unresolved</td>
                                        <td><a data-bs-toggle="modal" data-bs-target="#editModal"><i
                                                    class="ri-edit-circle-fill"></i>
                                            </a>
                                            <a data-bs-toggle="modal" data-bs-target="#viewModal"><i
                                                    class="ri-eye-fill"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                            <div class="modal fade" id="editModal" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Make Action</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <form method="POST" novalidate="novalidate" class="contact-form mb-5 row">
                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Name"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Name :</span>
                                                        </label>
                                                        <input type="text" name="Name" placeholder="Name"
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="John Doe" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Email"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Email :</span>
                                                        </label>
                                                        <input type="text" name="Email" placeholder="Email"
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="johndoe@gmail.com" disabled>
                                                    </div>
                                                </div>


                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Status"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Status :</span>
                                                        </label>
                                                        <input type="text" name="Status" placeholder=""
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="Unresolved" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-12 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Message"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Communication Message:</span>
                                                        </label>
                                                        <textarea class="form-control" placeholder="Message"
                                                            value="">Interested in learning more about the L&S Essential Subscription plan for the dietitian plan? Benefit from personalized meal plans and professional guidance. Contact our customer support team today for details and sign-up!</textarea>
                                                    </div>
                                                </div>

                                            </form>
                                            <div class="row buttons mt-5">
                                                <center>

                                                    <button type="submit" class="btn btn-theme">Save Changes</button>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="viewModal" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Enquiry Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <form method="POST" novalidate="novalidate" class="contact-form mb-5 row">
                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Name"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Name :</span>
                                                        </label>
                                                        <input type="text" name="Name" placeholder="Name"
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="John Doe" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Email"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Email :</span>
                                                        </label>
                                                        <input type="text" name="Email" placeholder="Email"
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="johndoe@gmail.com" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Subject"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span> Subject :</span>
                                                        </label>
                                                        <input type="text" name="Subject" placeholder="Subject"
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="Subscription Enquiry" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-6 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Status"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Status :</span>
                                                        </label>
                                                        <input type="text" name="Status" placeholder=""
                                                            required="required" autofocus="autofocus"
                                                            class=" form-control" value="Unresolved" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-12 px-14 mt-2">
                                                    <div class="form-group mb-lg-20">
                                                        <label for="Message"
                                                            class="gray-600 f-lg-18 f-16 font-weight-normal ">
                                                            <span>Message:</span>
                                                        </label>
                                                        <textarea class="form-control" placeholder="Message"
                                                            value="">Interested in learning more about the L&S Essential Subscription plan for the dietitian plan? Benefit from personalized meal plans and professional guidance. Contact our customer support team today for details and sign-up!</textarea>
                                                    </div>
                                                </div>

                                            </form>
                                            <!-- <div class="row buttons mt-5">
                        <center>

                          <button type="submit" class="btn btn-theme">Submit</button>
                        </center>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

    {% include "admin_footer.html" %}

    <script>


        $(document).ready(function () {
            $('#admin-enquiries').DataTable();
            $(".viewmodal-btn").click(function () {
                $("#view-modal").show();
            });
            $(".modal-close-btn").click(function () {
                $("#view-modal").hide();
            });

            $(function () {

                var start = moment().subtract(29, 'days');
                var end = moment();

                function cb(start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                $('#reportrange').daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                cb(start, end);

            });
        });
    </script>